@import 'typed';

*,
html {
    scroll-behavior: smooth !important;
    color: red;
}

html:focus-within {
    scroll-behavior: smooth;
}


@keyframes caret {
    50% {
        border-color: transparent;
    }
}

#buttons {
    position: absolute;
    top: 50px;
    right: 0;
    height: 70px;
}


#logo {
    height: 50px;
    top: 0;
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    z-index: 10;
}

.logo-img {
    margin-top: 1em;
    height: 60px;
    width: 60px;
}


.btn {
    border: none;
    font-size: 0.9em;
    color: #dfdfdf;
    width: 10em;
}

.custom-col {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    position: relative;
}




.logo-animation {
    left: 0;
    top: 0;
    position: absolute;
    height: 1em;
    width: 10%;
}

.button-animation {
    right: 0;
    position: absolute;
    height: 11em;
}



.navbar-animation {
    background-color: #1A1B1D;
}


.grid-mask {
    opacity: 80%;
    z-index: -1;
}

.grid {
    position: fixed;
    z-index: -1;
}

.grid-lines {
    background-image: linear-gradient(to right, rgba(187, 10, 10, 0.5) 1px, transparent 0), linear-gradient(to bottom, rgba(187, 10, 10, 0.5) 1px, transparent 0);
    background-size: 2vh 1vh;
    background-repeat: repeat;
    transform-origin: 100% 0 0;
    animation: intro 5s linear forwards, play 30s linear infinite 5s;
    z-index: -1;
}

@keyframes intro {
    0% {
        transform: rotateX(10deg) translateY(-50%);
    }

    100% {
        transform: rotateX(50deg) translateY(0);
    }

}

@keyframes play {
    0% {
        transform: rotateX(50deg) translateY(-50%);
    }

    100% {
        transform: rotateX(50deg) translateY(0);
    }
}

.banner {
    height: 500px;
    margin-top: 10em;
    margin-left: 2em;
}

.window-1 {
    height: 10em;
    background-color: rgb(26, 27, 29);
    border: solid #dfdfdf 0.2em;
    position: absolute;
    max-width: 30em;
}

.window-1-bar {
    height: 1em;
    background-color: #faa916;
}

.window-1-button {
    height: 1em;
    background-color: #6d676e;
}

.window-2 {
    height: 10em;
    background-color: rgb(26, 27, 29);
    position: absolute;
    margin-top: 150px;
    margin-left: 80px;
    border: solid #dfdfdf 0.2em;

    max-width: 30em;
}

.header-text{
    height: 35em;
}

.header {
    margin-top: 12em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.window-2-bar {
    height: 1em;
    background-color: #96031a;
}

.window-2-button {
    height: 1em;
    background-color: #16db65;
}

.window-3 {
    height: 10em;
    background-color: rgb(26, 27, 29);
    position: absolute;
    margin-top: 20px;
    margin-left: 250px;
    border: solid #dfdfdf 0.2em;
    max-width: 30em;
}

.window-3-bar {
    height: 1em;
    background-color: #dfdfdf;
}

.window-3-button {
    height: 1em;
    background-color: #faa916;
}

.button-window-1 {
    padding: 0;
    justify-content: flex-end;
    display: flex;
    font-size: 10px;
}

.button-window-2 {
    padding: 0;
    justify-content: flex-end;
    display: flex;
    color: rgb(23, 11, 192);
    font-size: 10px;
}

.button-window-3 {
    padding: 0;
    justify-content: flex-end;
    color: rgb(192, 11, 177);
    display: flex;
    font-size: 10px;
}


@media only screen and (min-width: 990px) and (max-width: 1200px) {

    .eyes {
        padding-left: 2em;
    }

    .eye {
        margin: 30px;

    }

    

 
}

@media only screen and (min-width: 991px) and (max-width: 990px) {

    .eyes {
        padding-left: 0.5em;
    }

    .eye {
        margin: 30px;

    }

    .banner {
        margin-left: 5em;
        margin-top: 14em;
        height: 20em;
    }

    .header {
        margin: 0;
    }

 

}

@media only screen and (max-width: 990px) {
    #logo {
        height: 110px;
    }

    .logo-img {
        height: 90px;
        width: 90px;
    }



    .btn {
        font-size: 1.8em;
        width: 200px;
    }

    
    .exp{
        width: 150px;
    }

    #buttons {
        height: 155px;
        display: flex;
    }

    .navbar-animation {
        height: 120px;
    }
    .button-animation{
        justify-content: end;
    }

    .banner {
        margin-left: 5em;
        margin-top: 14em;
        height: 20em;
    }

    .header {
        margin: 0;
    }

    .eyes {
        padding-left: 1em;
    }

    .eye {
        margin: 30px;

    }

    .header-text{
        height: 45em;
    }

    


}

.title{
    height: 30px;
    margin-left: 2.6em;
}

.name {
    font-size: 5em;
    color: #faa916;
    font-family: "Yanone Kaffeesatz";
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    line-height: 1em;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  min-height: 100vh;
  padding: 100px 0;
  font-family: Jost;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}




/* 
#dfdfdf Branco
#faa916 Amarelo 
#96031a Vermelho
#6d676e Cinza
#1A1B1D Preto claro
#16db65 Verde Claro
#058c42 Verde
#de9e36 Dourado */
