
.grid-mask {
    opacity: 60%;
    z-index: -1;
}

.grid {
    position: fixed;
    z-index: -1;
}

.grid-lines {
    background-image: linear-gradient(to right, rgba(167, 11, 11,0.7) 1px, transparent 0), 
    linear-gradient(to bottom, rgba(167, 11, 11,0.7) 1px, transparent 0);
    background-size: 2vh 1vh;
    background-repeat: repeat;
    transform-origin: 100% 0 0;
    animation: intro 5s linear forwards, play 30s linear infinite 5s;
    z-index: -1;
}

@keyframes intro {
    0% {
        transform: rotateX(10deg) translateY(-50%);
    }

    100% {
        transform: rotateX(50deg) translateY(0);
    }

}

@keyframes play {
    0% {
        transform: rotateX(50deg) translateY(-50%);
    }

    100% {
        transform: rotateX(50deg) translateY(0);
    }
}


*,
html {
    scroll-behavior: smooth !important;
    color: #db3131;
}

.text-about{
    text-align: center; color: #dcdfe5; font-family: Yanone Kaffeesatz; font-size: 1.3em;
}

html:focus-within {
    scroll-behavior: smooth;
}

.border-right{
    border-right: solid #faa916 1px;
}

.social-button{
    height: 3em;
    transition: all 0.2s;
    margin-top: 2em;
    border: solid #dcdfe5 0.2em ;
    border-radius: 100%;
    margin-bottom: 2em;
}

.social-button:hover{
    height: 5.0em;
}

.image-btn{
    height: 3em;
}


@keyframes caret {
    50% {
        border-color: transparent;
    }
}

#buttons {
    position: absolute;
    top: 50px;
    right: 0;
    height: 70px;
}


#logo {
    height: 50px;
    top: 0;
    display: flex;
    opacity: 0;
    margin-top: 0.5em;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    z-index: 10;
}

.logo-img {
    height: 60px;
    width: 60px;
}


.btn {
    border: none;
    font-size: 0.9em;
    color: #dfdfdf;
    width: 10em;
}

.custom-col {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    position: relative;
    gap: 4em;
}




.logo-animation {
    left: 0;
    top: 0;
    position: absolute;
    height: 1em;
    width: 10%;
}

.button-animation {
    right: 0;
    position: absolute;
    height: 11em;
}



.navbar-animation {
    background-color: #1A1B1D;
}


.banner {
    height: 500px;
    margin-top: 10em;
    margin-left: 2em;
}

.window-1 {
    height: 10em;
    background-color: #1A1B1D;
    border: solid #dfdfdf 0.2em;
    position: absolute;
    max-width: 30em;
}

.window-1-bar {
    height: 1em;
    background-color: #faa916;
}

.window-1-button {
    height: 1em;
    background-color: #5a5a5a;
}

.window-2 {
    height: 10em;
    background-color: rgb(26, 27, 29);
    position: absolute;
    margin-top: 150px;
    margin-left: 80px;
    border: solid #dfdfdf 0.2em;

    max-width: 30em;
}

.header-text{
    height: 35em;
}

.header {
    margin-top: 12em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.window-2-bar {
    height: 1em;
    background-color: #a70b0b;
}

.window-2-button {
    height: 1em;
    background-color: #a70b0b;
}

.window-3 {
    height: 10em;
    background-color: rgb(26, 27, 29);
    position: absolute;
    margin-top: 20px;
    margin-left: 250px;
    border: solid #dfdfdf 0.2em;
    max-width: 30em;
}

.window-3-bar {
    height: 1em;
    background-color: #dfdfdf;
}

.window-3-button {
    height: 1em;
    background-color: #faa916;
}

.button-window-1 {
    padding: 0;
    justify-content: flex-end;
    display: flex;
    font-size: 10px;
}

.button-window-2 {
    padding: 0;
    justify-content: flex-end;
    display: flex;
    color: #a70b0b;
    font-size: 10px;
}

.button-window-3 {
    padding: 0;
    justify-content: flex-end;
    color: #a70b0b;
    display: flex;
    font-size: 10px;
}

.custom-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 2px 2px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.custom-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}


@media only screen and (min-width: 990px) and (max-width: 1200px) {

    .eyes {
        padding-left: 2em;
    }

    .eye {
        margin: 30px;

    }
    .border-right{
        border-right: none;
    }
    

 
}

@media only screen and (min-width: 991px) and (max-width: 990px) {

    .eyes {
        padding-left: 0.5em;
    }

    .eye {
        margin: 30px;

    }

    .banner {
        margin-left: 5em;
        margin-top: 14em;
        height: 20em;
    }

    .header {
        margin: 0;
    }
    .border-right{
        border-right: none;
    }

 

}

@media only screen and (max-width: 990px) {

    #logo {
        height: 110px;
    }

    .logo-img {
        height: 90px;
        width: 90px;
    }



    .btn {
        font-size: 1.8em;
        width: 200px;
    }

    
    .exp{
        width: 150px;
    }

    #buttons {
        height: 120px;
        display: flex;
    }

    .navbar-animation {
        height: 120px;
    }

    .banner {
        margin-left: 5em;
        margin-top: 14em;
        height: 20em;
    }

    .header {
        margin: 0;
    }

    .eyes {
        padding-left: 1em;
    }

    .eye {
        margin: 30px;

    }

    .menu-button{
        font-size: 1.3em;
    }

    .header-text{
        height: 45em;
    }

    .text-about{
         font-size: 1.7em;
         line-height: 1em;
    }


    .custom-col{
        gap: 10em;
    }

    .image-btn{
        height: 5em;
    }

  
    .social-button{
        height: 4em;
    }

    .text-about{
        font-size: 2em;
    }
    
    .social-text{
        font-size: 1em;
    }

    .exp-title{
        margin-top: 2em;
    }

    .border-right{
        border-right: none;
    }

    #logo {
        opacity: 0;
    }



}

.title{
    height: 30px;
}

.name {
    font-size: 5em;
    color: #faa916;
    font-family: "Yanone Kaffeesatz";
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    line-height: 1em;
}


/* 
#dfdfdf Branco
#faa916 Amarelo 
#96031a Vermelho
#6d676e Cinza
#1A1B1D Preto claro
#16db65 Verde Claro
#058c42 Verde
#de9e36 Dourado */

